target
target-eclipse
bin
.project
.classpath
.settings
*.launch
.externalToolBuilders
.DS_Store
generated-sources
generated-jaxb
generated-cxf
*.iml
*.eml
*.idea
*.ipr
.pmd
osgi-dev.properties
3rdp/tap/
keys/
